---
import Layout from '../layouts/Layout.astro';
import Series from '../components/Series.astro';

import { supabase } from '../lib/supabase';

const { data: comics } = await supabase.from('comics').select('*');

---

<Layout title="ComicJourney">
	<main>
		<h1>ComicJourney</h1>
		<h3 class="ml-40 mb-6 font-bold text-xl">Marvel Master Reading Order Part 1</h3>
		<!-- Tailwind Timeline -->
		<ol class="relative border-s-2 border-red-700 ml-40">
			{comics?.map((comic) => 
				<Series title={comic.title} year={comic.year} issue_name={comic.issue_name ?? ''} issues={JSON.parse(comic.issues)}></Series>
			)}
		</ol>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		margin-top: 2rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h3 {
		font-weight: 600;
		line-height: 1;
	}
</style>
