---
import Layout from '../layouts/Layout.astro';
import Series from '../components/Series.astro';

import { supabase } from '../lib/supabase';

const { data: comics } = await supabase.from('comics').select('*');

---

<Layout title="ComicJourney">
	<main class="flex flex-col justify-center items-center">
		<h1 class="font-bold text-6xl mb-10 max-sm:text-3xl max-sm:mb-6">ComicJourney</h1>
		<h3 class="mb-6 font-bold text-xl max-sm:text-sm max-sm:font-medium">Marvel Master Reading Order Part 1</h3>
		<!-- Tailwind Timeline -->
		<ol class="relative border-s-2 pl-4 border-red-700">
			{comics?.map((comic) => 
				<Series title={comic.title} year={comic.year} issue_name={comic.issue_name ?? ''} issues={JSON.parse(comic.issues)}></Series>
			)}
		</ol>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		margin-top: 2rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
