---
import Comic from './Comic.astro';

interface Props {
	title: string;
    year: string;
    issue_name: string;
    issues: number[];
}

const { title, year, issue_name, issues} = Astro.props;
---
<div class="mb-10 max-sm:mb-6">
    <time class="mb-1 ml-2 text-sm font-normal leading-none text-gray-500 max-sm:text-xs">{year}</time>
    <h3 class="text-lg ml-2 font-semibold text-white mb-4 max-sm:text-base">{title}</h3>
        {issues.map((issue) => 
            <Comic title={(issue_name ? issue_name : title) + ' #' + issue.toString()}></Comic>
        )}
</div>